.equipment-section {
  margin-bottom: 56px;
  padding: 56px 0;
  @media (min-width: $desk-w) {
    margin-bottom: 80px;
    padding: 80px 0;
  }

  &__inner {
    flex-wrap: wrap;

    .left-side,
    .right-side {
      width: 100%;
      @media (min-width: $mob-s) {
        width: 50%;
      }
    }

    .right-side {
      padding-top: 10px;
    }

    .left-side {
      @media (min-width: $tablet-w) {
        padding-right: 10%;
      }
      @media (min-width: $desk-w) {
        padding-right: 18%;
      }
    }

    p {
      line-height: 20px;
    }
  }
}
