<!DOCTYPE html>
<html lang="ru">
	{% include "../includes/head.twig" %}
	<body>
		<div class="page-wrapper">
			{% include "../includes/header.twig" %}

			<main class="main"> {% block content %}{% endblock %}
				</main>
				{% include "../includes/footer.twig" %}
			</div>
			{% include "../includes/scripts.twig" %}
		</body>
	</html>
