<!DOCTYPE html>
<html lang="ru">
	{% include "../includes/head.twig" %}
	<body>

		{% include "../includes/header/header.twig" %}

		<main class="main"> {% block content %}{% endblock %}
			</main>
			{% include "../includes/footer.twig" %}

			{% include "../includes/scripts.twig" %}
		</body>
	</html>
