<!-- begin advantages-section -->
<section class="advantages-section padding-vertical">
	<div class="container">
		<div class="advantages-section__inner d-flex">
			<div class="advantages-section__desc">
				<h2 class="title-h2">VoLTE — голосовая связь последнего поколения</h2>
				<div class="title-h3">
					Технология Voice over LTE передаёт звонок по высокоскоростной сети 4G+ (LTE). Голосовой поток доставляется в разы быстрее и в лучшем качестве.
				</div>
			</div>
			<ul class="disc-list disc-list--img">
				<li>
					<div class="disc-list__img">
						<svg width="32px" height="30px" class="icon-voice">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#voice"></use>
						</svg>
					</div>
					<div class="disc-list__text">
						<div class="title-h3">Голос звучит чисто</div>
						<p>Настолько естественно, как будто собеседник находится рядом</p>
					</div>
				</li>

				<li>
					<div class="disc-list__img">
						<svg width="32px" height="30px" class="icon-4g">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#4g"></use>
						</svg>
					</div>
					<div class="disc-list__text">
						<div class="title-h3">4G не исчезнет</div>
						<p>Вы можете и звонить, и пользоваться 4G интернетом одновременно</p>
					</div>
				</li>

				<li>
					<div class="disc-list__img">
						<svg width="32px" height="30px" class="icon-phone">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#phone"></use>
						</svg>
					</div>
					<div class="disc-list__text">
						<div class="title-h3">Мгновенный дозвон</div>
						<p>Соединение происходит очень быстро — в течение 2 секунд</p>
					</div>
				</li>

				<li>
					<div class="disc-list__img">
						<svg width="32px" height="30px" class="icon-present">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#present"></use>
						</svg>
					</div>
					<div class="disc-list__text">
						<div class="title-h3">И никакой доплаты</div>
						<p>Технология VoLTE доступна бесплатно и не требует подключения</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- end advantages-section -->
