<!-- begin advantages-detail-section -->
<section class="advantages-detail-section">
	<div class="container container--full d-flex d-flex-sb">
		<div class="left-side">
			<div class="advantages-detail__img">
				<picture>
					<source media="(min-width: 768px)" srcset="img/media/adv-img-1.jpg 1x, img/media/adv-img-1@2x.jpg 2x">
					<source media="(min-width: 320px)" srcset="img/media/adv-img-1-mob.jpg 1x, img/media/adv-img-1-mob@2x.jpg 2x">
					<img src="img/media/adv-img-1.jpg" srcset="img/media/adv-img-1@2.jpg 2x" alt="VoLTE">
				</picture>
				<div class="advantages-detail__title">
					<div class="title-h2">VoWi-Fi — связь везде, где есть роутер</div>
				</div>
			</div>
		</div>
		<div class="right-side">
			<div class="advantages-detail__desc">
				<p>В местах с плохим покрытием, где LTE недоступен, можно подключаться к любому  Wi-Fi-роутеру. Технология Voice over Wi-Fi использует роутер как базовую станцию и улучшает качество сотовой связи.
				</p>
				<ul class="disc-list">
					<li>
						<div class="disc-list__text">
							<div class="title-h3">Разговор не прерывается</div>
							<p>Для передачи звонка используется стабильное подключение</p>
						</div>
					</li>
					<li>
						<div class="disc-list__text">
							<div class="title-h3">Лучшее качество</div>
							<p>Качество сигнала связи становится лучше даже в местах без LTE</p>
						</div>
					</li>
					<li>
						<div class="disc-list__text">
							<div class="title-h3">Экономия заряда</div>
							<p>Телефон расходует меньше энергии в местах с плохим покрытием</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end advantages-detail-section -->
