<!-- begin equipment-section -->
<section class="equipment-section">
	<div class="container">
		<div class="equipment-section__inner d-flex d-flex-sb">
			<div class="left-side">
				<h2 class="title-h2">Что нужно, чтобы пользоваться VoLTE</h2>
				<p>Технология уже доступна на многих устройствах — проверьте настройки своего смартфона и тип SIM-карты.
				</p>
			</div>
			<div class="right-side">
				<ul class="horizontal-list">
					<li class="horizontal-list__item">
						<h3>SIM-карта с поддержкой 4G+</h3>
						<p>Наберите команду *507#, чтобы проверить, подходит ли ваша SIM-карта для сети 4G+. Если не подходит — замените её бесплатно на USIM-карту в любом салоне МегаФона.</p>
						<a href="" class="link-arrow">
							Адреса салонов
							<svg width="10px" height="10px" class="icon-arrow-right-small">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-right-small"></use>
							</svg>
						</a>
					</li>
					<li>
						<h3>Смартфон с поддержкой VoLTE</h3>
						<p>Ваш смартфон должен поддерживать технологию VoLTE (см.
							<a href="">список устройств</a>). Не забудьте проверить настройки и обновить прошивку до последней версии.</p>
						<div class="overflow-block">
							<article class="tel-card">
								<div class="tel-card__img-wrapper">
									<figure class="tel-card__img">
										<img src="img/media/tel-1.png" alt="" width="166" height="166" loading="lazy">
										<figcaption>Apple iPhone X 256GB Space Gray</figcaption>
									</figure>
									<div class="tel-card__promo">70 290 ₽</div>
								</div>
							</article>
							<article class="tel-card">
								<div class="tel-card__img-wrapper">
									<figure class="tel-card__img">
										<img src="img/media/tel-2.png" alt="" width="166" height="166" loading="lazy">
										<figcaption>Смартфон Samsung Galaxy S9 64GB Черный бриллиант</figcaption>
									</figure>
									<div class="tel-card__promo">69 990 ₽</div>
								</div>
							</article>
						</div>
						<a href="" class="link-arrow">
							Выбрать смартфон с VoLTE
							<svg width="10px" height="10px" class="icon-arrow-right-small">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-right-small"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end equipment-section -->
