<!-- begin faq-section -->
<section class="faq-section">
	<div class="container">
		<h2 class="title-h2">Часто здаваемые вопросы</h2>
		{% include "../components/accordion.twig" %}
	</div>
</section>
<!-- end faq-section -->
