<!-- begin tariffs-section -->
<section class="tariffs-section">
	<div class="container">
		<div class="tariffs-section__desc">
			<div class="title-h2">Выберите тариф</div>
			<p>
				Выбирайте тарифы «Включайся!» и используйте возможности VoLTE по максимуму. VoLTE не расходует интернет-трафик вашего тарифа, а звонки по VoLTE уже входят в ваш пакет минут.
			</p>
		</div>
		{% include "../components/tabs.twig" %}
	</div>
</section>
<!-- end tariffs-section -->
