{% set tariffData = [
    {
      title: "Включайся! Слушай",
      stock: "Акция",
      time: "700 минут",
      text: "Безлимитный интернет на все сервисы",
      icons: "icon-infinite",
      price: "650 ₽",
      price_subtitle: "в месяц",
    },
    {
      title: "Включайся! Слушай",
      stock: "",
      time: "700 минут",
      text: "Безлимитный интернет на все сервисы",
      icons: "icon-infinite",
      price: "800 ₽",
      price_subtitle: "в месяц",
    },
    {
      title: "Включайся! Общайся",
      stock: "Акция",
      time: "850 минут",
      text: "Безлимитный интернет на видео, музыку и мессенджеры",
      icons: "icon-youtube,icon-vim,icon-vk,icon-inst",
      price: "750 ₽",
      price_subtitle: "в месяц",
    },
    {
      title: "Включайся! Смотри",
      stock: "Акция",
      time: "700 минут",
      text: "Безлимитный интернет на видео, музыку и мессенджеры",
      icons: "icon-youtube,icon-vim,icon-vk,icon-inst",
      price: "1000 ₽",
      price_subtitle: "в месяц",
    },
  ]
%}

<!-- begin tariffs-section -->
<section class="tariffs-section">
	<div class="container">
		<div class="tariffs-section__desc">
			<div class="title-h2">Выберите тариф</div>
			<p>
				Выбирайте тарифы «Включайся!» и используйте возможности VoLTE по максимуму. VoLTE не расходует интернет-трафик вашего тарифа, а звонки по VoLTE уже входят в ваш пакет минут.
			</p>
		</div>
		{% include "../components/tabs.twig" with tariffData %}
	</div>
</section>
<!-- end tariffs-section -->
