html,
body {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $mainFont;
  color: $black;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

img {
  max-width: 100%;
}

main {
  flex-grow: 1;
}

picture {
  display: block;
}
