html,
body {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $mainFont;
  color: $black;
  background-color: #ebedef;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  color: $black;
  text-decoration: none;
  transition: color 0.3s ease;
}

img {
  max-width: 100%;
}

main {
  flex-grow: 1;

  & > section {
    background-color: $white;
  }
}

picture {
  display: block;
  line-height: 0;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 20px;
  font-size: 15px;
  line-height: 20px;
}

.icon-arrow-right-small {
  transform: rotateY(180deg);
}

.overflow-block {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: visible;

  & > * {
    flex-shrink: 0;
  }
}
