h1,
.title-h1 {
  margin: 0 0 20px;
  font-weight: bold;
  @media (min-width: $mob-xs) {
    font-size: calc(28px + (52 - 28) * ((100vw - 320px) / (1240 - 320)));
    line-height: calc(34px + (56 - 34) * ((100vw - 320px) / (1240 - 320)));
  }
  @media (min-width: $desk-w) {
    font-size: 52px;
    line-height: 56px;
  }
}

h2,
.title-h2 {
  margin: 0 0 20px;
  @media (min-width: $mob-xs) {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1240 - 320)));
    line-height: calc(28px + (40 - 28) * ((100vw - 320px) / (1240 - 320)));
  }
  @media (min-width: $desk-w) {
    font-size: 32px;
    line-height: 40px;
  }
  font-weight: 600;
}

h3,
.title-h3 {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

h4,
.title-h4 {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

h5,
.title-h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

p:last-child {
  margin-bottom: 0;
}

a:not([class]) {
  color: #34aaf2;
}

a.link-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
  svg {
    margin-left: 6px;
  }
}
