.hidden-lg {
  @media (min-width: $desk-w) {
    display: none !important;
  }
}

.padding-vertical {
  padding: 40px 0;
  @media (min-width: $tablet-w) {
    padding: 60px 0;
  }
  @media (min-width: $desk-w) {
    padding: 80px 0;
  }
}
