$mob-xs: 320px;
$mob-s: 640px;
$tablet-w: 768px;
$desk-w: 960px;

$mainFont: "GraphikLc";
$fontSize: 15px;
$lineHeight: 24px;

$black: #000000;
$lightBlack: #333333;
$white: #ffffff;
$green: #00b956;

$containerWidth: 1280px;
$gutter: 20px;
