$mob-xs: 0px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;

$mainFont: Roboto, sans-serif;
$fontSize: 16px;
$lineHeight: 18px;

$black: #000000;
$white: #ffffff;
$green: #5ee395;

$containerWidth: 1440px;
