<ul class="accordion">
	<li class="accordion__item">
		<a href="#" class="accordion__title">Какие устройства поддерживают VoLTE и как настроить VoLTE?
			<svg width="32px" height="32px" class="icon-arrow-up">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-up"></use>
			</svg>
		</a>
		<div class="accordion__content">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius quidem cupiditate officiis velit nisi porro doloribus, temporibus non voluptatibus provident?
		</div>
	</li>
	<li class="accordion__item">
		<a href="#" class="accordion__title">Как проверить, что вы используете VoLTE?
			<svg width="32px" height="32px" class="icon-arrow-up">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-up"></use>
			</svg>
		</a>
		<div class="accordion__content">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius quidem cupiditate officiis velit nisi porro doloribus, temporibus non voluptatibus provident?
		</div>
	</li>
	<li class="accordion__item">
		<a href="#" class="accordion__title active">Особенности предоставления услуги
			<svg width="32px" height="32px" class="icon-arrow-up">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#arrow-up"></use>
			</svg>
		</a>
		<div class="accordion__content active">
			<ul>
				<li>VoLTE действует только в сети 4G+ в Домашнем регионе.</li>
				<li>VoLTE уже доступна для абонентов Москвы, а с 1 октября 2018 г. — для Санкт-Петербурга, Самары и Тольятти.</li>
				<li>Качество голосовой связи будет лучше, если ваш собеседник тоже использует VoLTE.</li>
				<li>VoLTE не поддерживается в телефонах с Dual SIM и не совместима с услугами Персональный гудок и eMotion.</li>
				<li>Если во время разговора по VoLTE сеть 4G+ автоматически поменяется на сеть 3G/2G, звонок не оборвётся, а качество звука вернётся на уровень сети 3G/2G.</li>
				<li>Если включить услугу VoLTE на телефоне без поддержки VoLTE МегаФона, услуга автоматически не включится. Если вы пользовались VoLTE МегаФона и переставили SIM-карту в телефон, который не поддерживает этот сервис, настройки VoLTE рекомендуется выключить.</li>
			</ul>
		</div>
	</li>
</ul>
