<!-- begin hero-banner -->
<section class="hero-banner">
	<div class="container container--full">
		<div class="hero-banner__img">
			<picture>
				<source media="(min-width: 768px)" srcset="img/media/hero-banner.jpg 1x, img/media/hero-banner@2x.jpg 2x">
				<source media="(min-width: 320px)" srcset="img/media/hero-banner-mob.jpg 1x, img/media/hero-banner-mob@2x.jpg 2x">
				<img src="img/media/hero-banner.jpg" srcset="img/media/hero-banner@2.jpg 2x" alt="VoLTE" loading="lazy">
			</picture>
		</div>
		<div class="hero-banner__desc-wrapper">
			<div class="container">
				<div class="hero-banner__desc">
					<h1>Кристально чистый звук с технологией VoLTE</h1>
					<div class="title-h5">Переходи на новый уровень общения</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- end hero-banner -->
