<ul class="tabs">
	<li class="active-tab">
		<a href="#">Смартфон</a>
	</li>
	<li>
		<a href="#">Планшет</a>
	</li>
	<li>
		<a href="#">Модем</a>
	</li>
</ul>
<ul class="tabs-content">
	<li class="active-tab">
		{% include "../components/tariff-card.twig" %}
	</li>
	<li>2</li>
	<li>3</li>
</ul>
