.btn {
  padding: 0.8em 2em;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 1.6em;
  color: $white;
  background-color: $green;
  min-width: 200px;
}
