.horizontal-list {
  @include list-reset;
  & > li {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ebedef;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
