.mobile-menu {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    margin-left: 24px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
