.slider {
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  @media (min-width: $tablet-w) {
    margin-bottom: 80px;
  }

  &__inner {
    position: relative;
    display: flex;
    will-change: transform;
    transition: transform 0.25s ease;
  }

  &__current-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center 0;
    background-size: cover;
    display: none;
    transition: opacity 0.65s ease;
    will-change: background-image;
    @media (min-width: $tablet-w) {
      display: block;
    }
  }

  &:first-child :not(.slider__current-img) {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }

  &__controls {
    z-index: 150;
  }

  &__arrow {
    position: absolute;
    right: 16px;
    bottom: 50%;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transform: translateY(50%);
    transition: transform 0.5s ease;
    @media (min-width: $tablet-w) {
      right: 180px;
      bottom: 40px;
      transform: translateY(0);
    }

    &:hover {
      @media (min-width: $tablet-w) {
        transform: translateX(10px);
      }
    }

    svg {
      color: $white;
    }
  }

  &__dots {
    @include list-reset;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 999;

    li {
      padding: 5px;

      a {
        width: 10px;
        height: 10px;
        border: 1px solid $white !important;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s ease;
        display: block;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
      }

      &.active {
        a {
          background-color: $white;
        }
      }
    }

    @media (min-width: $tablet-w) {
      display: none;
    }
  }
}

.fadeIn {
  opacity: 0;
}

@supports (filter: blur(20px)) {
  .slider__current-img {
    transition: filter 0.65s ease;
  }

  .fadeIn {
    opacity: 1;
    filter: blur(20px);
  }
}

.slide {
  position: relative;
  height: auto;
  flex-basis: 100%;
  min-width: 100%;
  color: $white;
  flex-grow: 1;
  transition: flex-basis 0.4s ease-out;
  border-right: 1px solid $white;
  border-left: 1px solid $white;
  cursor: pointer;

  @media (min-width: $tablet-w) {
    height: 650px;
    flex-basis: 17%;
    min-width: auto;
    overflow: hidden;
  }

  &__img {
    position: relative;
    height: 510px;

    @media (min-width: $tablet-w) {
      opacity: 0;
      height: auto;
    }

    picture {
      width: 100%;
      height: 100%;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      font-family: "object-fit: cover; object-position: center;";
      transition: opacity 0.3s ease-out;
    }
  }

  &__desc {
    position: relative;
    height: 100%;
    z-index: 20;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: inherit;
  }

  &__title {
    max-width: 380px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  &__subtitle {
    max-width: 220px;
    transition: opacity 0.5s ease-out;
    @media (min-width: $tablet-w) {
      opacity: 0;
    }
  }

  &-current {
    @media (min-width: $tablet-w) {
      flex-basis: 66%;
      flex-grow: 2;

      .slide__img {
        z-index: 19;

        img {
          opacity: 1;
        }
      }

      .slide__text {
        @media (min-width: $tablet-w) {
          padding: 80px;
        }
      }

      .slide__title {
        font-size: 32px;
        line-height: 40px;
      }

      .slide__subtitle {
        opacity: 1;
      }
    }
  }
}
