.tariff-card {
  position: relative;
  padding: 20px 25px 110px;
  width: 280px;
  height: 100%;
  border: 1px solid #ededed;

  &__title {
    margin-bottom: 14px;
    min-height: 56px;
    font-size: 20px;
    line-height: 28px;
  }

  &__stock {
  }

  &__time {
    margin-bottom: 38px;
    font-size: 15px;
    line-height: 20px;
  }

  &__service-list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    color: $lightBlack;
    li {
      margin-right: 9px;
      margin-bottom: 9px;
      &:last-child {
        margin-right: 0;
      }
    }
    .icon-inst {
      background-color: pink;
      border-radius: 50%;
    }
  }

  &__about {
    margin-bottom: 50px;
  }

  &__about-text {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 16px;
  }

  &__price {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 40px;
  }

  &__price-subtitle {
    display: block;
    font-size: 15px;
    line-height: 24px;
  }

  &__btns {
    position: absolute;
    left: 20px;
    right: 58px;
    bottom: 34px;
    text-align: center;
    .btn {
      margin-bottom: 16px;
    }

    a:not([class]) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 15px;
      svg {
        margin-left: 6px;
      }
    }
  }
}
