{% block content %}

	<footer class="footer">
		<div class="container container--full">
			<div class="footer__top-bar">
				<div class="footer__col">
					<div class="footer__menu-title">Компания</div>
					<ul class="footer__menu-list">
						<li>
							<a href="#">О компании</a>
						</li>
						<li>
							<a href="#">Новости</a>
						</li>
						<li>
							<a href="#">Условия оказания услуг</a>
						</li>
					</ul>
				</div>

				<div class="footer__col">
					<div class="footer__menu-title">Организациям</div>
					<ul class="footer__menu-list list-two-columns">
						<li>
							<a href="#">Инвесторам</a>
						</li>
						<li>
							<a href="#">Прессе</a>
						</li>
						<li>
							<a href="#">Партнёрам</a>
						</li>
						<li>
							<a href="#">Инновации</a>
						</li>
						<li>
							<a href="#">Социальная ответственность</a>
						</li>
						<li>
							<a href="#">Лицензии</a>
						</li>

					</ul>
				</div>

				<div class="footer__col">
					<div class="footer__menu-title">Работа в МегаФон</div>
					<div class="footer__menu-title">English</div>
				</div>

				<div class="footer__col">
					<ul class="fast-links-list list-two-columns">
						<li>
							<a href="">
								<span class="svg-box">
									<svg width="28px" height="21px" class="icon-question">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-question"></use>
									</svg>
								</span>
								<span>Вопрос ответ</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="svg-box">
									<svg width="22px" height="22px" class="icon-zone">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-zone"></use>
									</svg>
								</span>
								<span>Карта покрытия</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="svg-box">
									<svg width="16px" height="22px" class="icon-pin">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-pin"></use>
									</svg>
								</span>
								<span>Салон связи</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="svg-box">
									<svg width="16px" height="22px" class="icon-vip">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-vip"></use>
									</svg>
								</span>
								<span>VIP-привилегии</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__bottom-bar">
				<div class="copyright">
					© 2016 ПАО «МегаФон»
				</div>
				<ul class="soc-list">
					<li>
						<a href="">
							<svg width="18px" height="10px" class="icon-vk">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-vk"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="">
							<svg width="8px" height="15px" class="icon-fb">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-fb"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="">
							<svg width="11px" height="13px" class="icon-h">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-h"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="">
							<svg width="18px" height="15px" class="icon-tg">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite.svg#icon-tg"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>

{% endblock %}
